@import "../../../assets/styles/variables.scss";

.Button {
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  outline: none;
  border: 1px solid $whiteColor;
  background-color: $whiteColor;
  color: $mainColor;
  padding: 10px 20px;
  transition: all 0.3s ease;
  width: 100%;
  &:hover {
    background-color: transparent;
    color: $whiteColor;
  }
}

.primary {
  background-color: $whiteColor;
  color: $mainColor;
}

.error {
  background-color: $errorColor;
  color: $mainColor;
}

.success {
  background-color: $successColor;
  color: #221673;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid $whiteColor;
  }
}
