@import "src/assets/styles/variables.scss";

.activeQuiz {
    color: $whiteColor;
    padding: 20px;
    border: 2px solid $whiteColor;
    border-radius: 5px;
}

.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}
