@font-face {
  font-family: 'Roboto Light';
  font-weight: 300;
  src: local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  font-weight: 500;
  src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-weight: 900;
  src: local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('ttf');
}
